In [1]:
import pandas as analytics
import os
import numpy as maths

In [2]:
d1 = ["send us your internet banking password","spam"]
d2 = ["send us your mobile number","ham"]
d3 = ["change your internet banking password","ham"]
d4 = ["change your userid","spam"]
d5 = ["send your internet banking password","spam"]
d6 = ["send us your account details","spam"]

documents = [d1,d2,d3,d4,d5,d6]

In [3]:

def naive_bayes(documents):
    final = ''
    for document in documents:
        document[0] = document[0] + " "
        final = final + document[0]
        
    dictionary = list(set(final.split()))
    
    outputs = []
    inputs = []
    for document in documents:
        input = []
        for word in dictionary:
            input.append(document[0].count(word + " "))
    
        inputs.append(input)
            
        if document[1] == 'spam' : outputs.append(1)
        else : outputs.append(0)        
    
    df_data = analytics.DataFrame(data = inputs, columns = dictionary)
    df_data['outputs'] = outputs
    
    df_fail = df_data[df_data['outputs'] == 0]
    df_success = df_data[df_data['outputs'] == 1]

    fail_space = len(df_fail)/len(df_data)
    success_space = len(df_success)/len(df_data)

    
    prob_fail = len(df_fail)/len(df_data)
    prob_success = 1 - prob_fail
    
    fail_word = {}
    success_word = {}
    
    for word in dictionary:
        fail_word.update({word:sum(df_fail[word])}) 
        success_word.update({word:sum(df_success[word])})
    
    fail_word_prob = {}
    success_word_prob = {}
    for key in fail_word.keys():
        fail_word_prob.update({key:(fail_word[key]/fail_space)})
        success_word_prob.update({key:(success_word[key]/success_space)})
    
    return df_data, prob_success, prob_fail, success_word, fail_word, dictionary

In [4]:
df_data, prob_success, prob_fail, success_word , fail_word , dictionary = naive_bayes(documents)

In [5]:
df_data

,change,userid,banking,number,password,internet,us,account,your,details,send,mobile,outputs
0,0,0,1,0,1,1,1,0,1,0,1,0,1
1,0,0,0,1,0,0,1,0,1,0,1,1,0
2,1,0,1,0,1,1,0,0,1,0,0,0,0
3,1,1,0,0,0,0,0,0,1,0,0,0,1
4,0,0,1,0,1,1,0,0,1,0,1,0,1
5,0,0,0,0,0,0,1,1,1,1,1,0,1

In [6]:
test_inputs = [
    "change your account number",
    "send your address"
]

test_inputs

['change your account number', 'send your address']

In [7]:
def test_naive_bayes(dictionary , test_inputs,prob_success, prob_fail, success_word, fail_word, laplace_smoothing = True):
    laplace_smoothing = int(laplace_smoothing)
    test_outputs = []
    for test_input in test_inputs:
        fail = prob_fail
        success = prob_success
        
        fail_numerators = []
        success_numerators = []
        
        for word in dictionary:
            if word in test_input:
                success_numerators.append(success_word[word] + laplace_smoothing)
                fail_numerators.append(fail_word[word] + laplace_smoothing)
                
        for i in range(len(success_numerators)):
            success = success * success_numerators[i]
            fail = fail * fail_numerators[i]
        
        success = success / sum(success_numerators)**len(success_numerators)
        fail = fail / sum(fail_numerators)**len(fail_numerators)
            
        if success > fail : test_outputs.append('spam')
        else : test_outputs.append('ham')

    df_test = analytics.DataFrame(data = test_inputs, columns = ['documents'])
    df_test['output'] = test_outputs
    return df_test

In [8]:
test_naive_bayes(dictionary , test_inputs, prob_success, prob_fail, success_word, fail_word)

                    documents output
0  change your account number   spam
1           send your address   spam

# Question 3

In [9]:
data = {
    "A1" : [1,1,0,0,0,0],
    "A2" : [0,1,1,1,0,0],
    "A3" : [0,1,0,1,1,1],
    "A4" : [1,0,1,1,0,1],
    "outputs" : [1,1,1,0,0,0]
       }

In [98]:
data = {
    "A1" : [1,0,1,0,1],
    "A2" : [1,2,3,1,2],
    "outputs" : [1,0,1,0,0]
       }

In [99]:
df_data = analytics.DataFrame(data = data )
df_data

   A1  A2  outputs
0   1   1        1
1   0   2        0
2   1   3        1
3   0   1        0
4   1   2        0

In [101]:
dictionary = list(df_data.columns[:-1])
df_fail = df_data[df_data['outputs'] == 0]
df_success = df_data[df_data['outputs'] == 1]

fail_space = len(df_fail)/len(df_data)
success_space = len(df_success)/len(df_data)


prob_fail = len(df_fail)/len(df_data)
prob_success = 1 - prob_fail

fail_word = {}
success_word = {}

for word in dictionary:
    fail_word.update({word:sum(df_fail[word])}) 
    success_word.update({word:sum(df_success[word])})

fail_word_prob = {}
success_word_prob = {}
for key in fail_word.keys():
    fail_word_prob.update({key:(fail_word[key]/fail_space)})
    success_word_prob.update({key:(success_word[key]/success_space)})

In [102]:
laplace_smoothing = False

In [122]:
len(df_fail), len(df_success)

(3, 2)

In [121]:
test_inputs

[['A1', 'A2A2A2']]

In [120]:
fail_word

{'A1': 1, 'A2': 5}

In [107]:
# test_inputs = [[1,1,0,1],[0,0,0,0],[1,1,1,1],[1,0,1,0]]
test_inputs = [[1,3]]

laplace_smoothing = int(laplace_smoothing)
test_outputs = []

modified_inputs = []
for test_input in test_inputs:
    for i in range(len(test_input)): test_input.append(test_input[i] * dictionary[i])
    modified_inputs.append(test_input[i+1:])
test_inputs = modified_inputs

for test_input in test_inputs:
    fail = 1
    success = 1
    
    fail_numerators = []
    success_numerators = []

    for word in dictionary:
        if word in test_input:
            
            success_numerators.append(success_word[word] + laplace_smoothing)
            fail_numerators.append(fail_word[word] + laplace_smoothing)
            
    for i in range(len(success_numerators)):
        success = success * success_numerators[i]
        fail = fail * fail_numerators[i]

    
    success = success / sum(success_numerators)**len(success_numerators)
    fail = fail / sum(fail_numerators)**len(fail_numerators)

    success = prob_success * success 
    fail = prob_fail * fail

    print(success)
    print(fail)
    
    if success > fail : test_outputs.append('1')
    else : test_outputs.append('0')

test_outputs

0.4
0.6

['0']

In [77]:
laplace_smoothing

1

In [15]:
success_numerators

[]

In [123]:
df_data

   A1  A2  outputs
0   1   1        1
1   0   2        0
2   1   3        1
3   0   1        0
4   1   2        0

In [129]:
test_inputs = [[1,3]]
test_input = test_inputs[0]

In [127]:
df_success

   A1  A2  outputs
0   1   1        1
2   1   3        1

In [130]:
dictionary

['A1', 'A2']

In [149]:
laplace_smoothing = 1

# Answer Acheived

In [150]:
(len(df_success[df_success[dictionary[0]] == test_input[0]]) + laplace_smoothing)/(len(df_success) + len(df_data['A1'].unique()) * laplace_smoothing)

0.75