# Multinomial Naive Bayes

In [1]:
import pandas as analytics
import os
import numpy as maths

In [2]:
d1 = ["Good to see you Good day","spam"]
d2 = ["See the sky See the little stars","ham"]
d3 = ["Nice picture Nice nice frame","ham"]
d4 = ["See you Good day","spam"]
d5 = ["send your internet banking password","spam"]
d6 = ["send us your account details","spam"]

documents = [d1,d2,d3,d4]

In [3]:

def naive_bayes(documents):
    final = ''
    for document in documents:
        document[0] = document[0] + " "
        final = final + document[0]
        
    dictionary = list(set(final.split()))
    
    outputs = []
    inputs = []
    for document in documents:
        input = []
        for word in dictionary:
            input.append(document[0].count(word + " "))
    
        inputs.append(input)
            
        if document[1] == 'spam' : outputs.append(1)
        else : outputs.append(0)        
    
    df_data = analytics.DataFrame(data = inputs, columns = dictionary)
    df_data['outputs'] = outputs
    
    df_fail = df_data[df_data['outputs'] == 0]
    df_success = df_data[df_data['outputs'] == 1]

    fail_space = len(df_fail)/len(df_data)
    success_space = len(df_success)/len(df_data)

    
    prob_fail = len(df_fail)/len(df_data)
    prob_success = 1 - prob_fail
    
    fail_word = {}
    success_word = {}
    
    for word in dictionary:
        fail_word.update({word:sum(df_fail[word])}) 
        success_word.update({word:sum(df_success[word])})
    
    fail_word_prob = {}
    success_word_prob = {}
    for key in fail_word.keys():
        fail_word_prob.update({key:(fail_word[key]/fail_space)})
        success_word_prob.update({key:(success_word[key]/success_space)})
    
    return df_data, prob_success, prob_fail, success_word, fail_word, dictionary

In [4]:
df_data, prob_success, prob_fail, success_word , fail_word , dictionary = naive_bayes(documents)

In [5]:
df_data

,See,stars,frame,picture,little,Good,you,the,day,sky,nice,Nice,to,see,outputs
0,0,0,0,0,0,2,1,0,1,0,0,0,1,1,1
1,2,1,0,0,1,0,0,2,0,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,1,2,0,0,0
3,1,0,0,0,0,1,1,0,1,0,0,0,0,0,1

In [6]:
test_inputs = [
    "Good nice little stars"
]

test_inputs

['Good nice little stars']

In [7]:
def test_naive_bayes(dictionary , test_inputs,prob_success, prob_fail, success_word, fail_word, laplace_smoothing = True):
    laplace_smoothing = int(laplace_smoothing)
    test_outputs = []
    for test_input in test_inputs:
        fail = prob_fail
        success = prob_success
        
        fail_numerators = []
        success_numerators = []
        
        for word in dictionary:
            if word in test_input:
                success_numerators.append(success_word[word] + laplace_smoothing)
                fail_numerators.append(fail_word[word] + laplace_smoothing)
                
        for i in range(len(success_numerators)):
            success = success * success_numerators[i]
            fail = fail * fail_numerators[i]
        
        success = success / sum(success_numerators)**len(success_numerators)
        fail = fail / sum(fail_numerators)**len(fail_numerators)
            
        if success > fail : test_outputs.append('spam')
        else : test_outputs.append('ham')

    df_test = analytics.DataFrame(data = test_inputs, columns = ['documents'])
    df_test['output'] = test_outputs
    return df_test

In [8]:
test_naive_bayes(dictionary , test_inputs, prob_success, prob_fail, success_word, fail_word)

                documents output
0  Good nice little stars    ham

# Question 3

In [9]:
data = {
    "A1" : [1,1,0,0,0,0],
    "A2" : [0,1,1,1,0,0],
    "A3" : [0,1,0,1,1,1],
    "A4" : [1,0,1,1,0,1],
    "outputs" : [1,1,1,0,0,0]
       }

In [10]:
data = {
    "A1" : [1,0,1,0,1],
    "A2" : [1,2,3,1,2],
    "outputs" : [1,0,1,0,0]
       }

In [11]:
df_data = analytics.DataFrame(data = data )
df_data

   A1  A2  outputs
0   1   1        1
1   0   2        0
2   1   3        1
3   0   1        0
4   1   2        0

In [12]:
dictionary = list(df_data.columns[:-1])
df_fail = df_data[df_data['outputs'] == 0]
df_success = df_data[df_data['outputs'] == 1]

fail_space = len(df_fail)/len(df_data)
success_space = len(df_success)/len(df_data)


prob_fail = len(df_fail)/len(df_data)
prob_success = 1 - prob_fail

fail_word = {}
success_word = {}

for word in dictionary:
    fail_word.update({word:sum(df_fail[word])}) 
    success_word.update({word:sum(df_success[word])})

fail_word_prob = {}
success_word_prob = {}
for key in fail_word.keys():
    fail_word_prob.update({key:(fail_word[key]/fail_space)})
    success_word_prob.update({key:(success_word[key]/success_space)})

In [13]:
laplace_smoothing = False

In [14]:
len(df_fail), len(df_success)

(3, 2)

In [15]:
test_inputs

['change your account number', 'send your address']

In [16]:
fail_word

{'A1': 1, 'A2': 5}

In [17]:
# test_inputs = [[1,1,0,1],[0,0,0,0],[1,1,1,1],[1,0,1,0]]
test_inputs = [[1,3]]

laplace_smoothing = int(laplace_smoothing)
test_outputs = []

modified_inputs = []
for test_input in test_inputs:
    for i in range(len(test_input)): test_input.append(test_input[i] * dictionary[i])
    modified_inputs.append(test_input[i+1:])
test_inputs = modified_inputs

for test_input in test_inputs:
    fail = 1
    success = 1
    
    fail_numerators = []
    success_numerators = []

    for word in dictionary:
        if word in test_input:
            
            success_numerators.append(success_word[word] + laplace_smoothing)
            fail_numerators.append(fail_word[word] + laplace_smoothing)
            
    for i in range(len(success_numerators)):
        success = success * success_numerators[i]
        fail = fail * fail_numerators[i]

    
    success = success / sum(success_numerators)**len(success_numerators)
    fail = fail / sum(fail_numerators)**len(fail_numerators)

    success = prob_success * success 
    fail = prob_fail * fail

    print(success)
    print(fail)
    
    if success > fail : test_outputs.append('1')
    else : test_outputs.append('0')

test_outputs

0.4
0.6

['0']

In [18]:
laplace_smoothing

0

In [19]:
success_numerators

[2]

In [20]:
df_data

   A1  A2  outputs
0   1   1        1
1   0   2        0
2   1   3        1
3   0   1        0
4   1   2        0

In [21]:
test_inputs = [[1,3]]
test_input = test_inputs[0]

In [22]:
df_success

   A1  A2  outputs
0   1   1        1
2   1   3        1

In [23]:
dictionary

['A1', 'A2']

In [24]:
laplace_smoothing = 1

# Answer Acheived

In [25]:
(len(df_success[df_success[dictionary[0]] == test_input[0]]) + laplace_smoothing)/(len(df_success) + len(df_data['A1'].unique()) * laplace_smoothing)

0.75

In [26]:
df_fail

   A1  A2  outputs
1   0   2        0
3   0   1        0
4   1   2        0

# Manual Question Coded

In [27]:
data = {
    "A1":[1,1,0,0,0,0],
    "A2":[0,1,1,1,0,0],
    "A3":[0,1,0,1,1,1],
    "A4":[1,0,1,1,0,1],
    "outputs":[1,1,1,0,0,0]
}

In [28]:
df_data = analytics.DataFrame(data = data)
df_data

   A1  A2  A3  A4  outputs
0   1   0   0   1        1
1   1   1   1   0        1
2   0   1   0   1        1
3   0   1   1   1        0
4   0   0   1   0        0
5   0   0   1   1        0

In [29]:
df_success = df_data[df_data['outputs'] == 1]
df_fail = df_data[df_data['outputs'] == 0]

In [46]:
laplace_smoothing = True

In [50]:
laplace_smoothing = int(laplace_smoothing)
dictionary = df_data.columns[:-1]
success_word = []
fail_word = []
prob_success = len(df_success)/len(df_data)
prob_fail = len(df_fail)/len(df_data)
for word in dictionary:
    success_word.append((sum(df_success[word]+laplace_smoothing))/(len(df_success)+laplace_smoothing*len(dictionary)))
    fail_word.append((sum(df_fail[word])+laplace_smoothing)/(len(df_fail)+laplace_smoothing*len(dictionary)))

print("Success Word :",success_word)
print("Fail Word :",fail_word)

Success Word : [0.7142857142857143, 0.7142857142857143, 0.5714285714285714, 0.7142857142857143]
Fail Word : [0.14285714285714285, 0.2857142857142857, 0.5714285714285714, 0.42857142857142855]

In [66]:
test_cases = [[1,1,0,1],[0,0,0,0],[1,1,1,1],[1,0,1,0],[1,0,0,1],[1,1,1,0],[0,0,1,1],[0,0,1,0],[0,1,1,1],[0,1,0,1]]

In [68]:
for test_case in test_cases:
    success = prob_success
    fail = prob_fail
    print("Test Case : ",test_case)
    for case in range(len(test_case)):
        if test_case[case] == 1: 
            success_probability = success_word[case]
            fail_probability = fail_word[case]
        else : 
            success_probability = 1-success_word[case]
            fail_probability = 1-fail_word[case]
    
        success = success*success_probability
        fail = fail*fail_probability
    print("Success :",success,"Fail :",fail)
    print("Recommended Class : ",end="")
    if success > fail : print(1)
    else : print(0)
    print()

Test Case :  [1, 1, 0, 1]
Success : 0.07809246147438569 Fail : 0.003748438150770512
Recommended Class : 1

Test Case :  [0, 0, 0, 0]
Success : 0.004997917534360683 Fail : 0.07496876301541025
Recommended Class : 0

Test Case :  [1, 1, 1, 1]
Success : 0.10412328196584757 Fail : 0.004997917534360682
Recommended Class : 1

Test Case :  [1, 0, 1, 0]
Success : 0.016659725114535607 Fail : 0.016659725114535607
Recommended Class : 0

Test Case :  [1, 0, 0, 1]
Success : 0.031236984589754272 Fail : 0.009371095376926281
Recommended Class : 1

Test Case :  [1, 1, 1, 0]
Success : 0.04164931278633902 Fail : 0.006663890045814243
Recommended Class : 1

Test Case :  [0, 0, 1, 1]
Success : 0.016659725114535607 Fail : 0.07496876301541024
Recommended Class : 0

Test Case :  [0, 0, 1, 0]
Success : 0.006663890045814243 Fail : 0.09995835068721365
Recommended Class : 0

Test Case :  [0, 1, 1, 1]
Success : 0.04164931278633902 Fail : 0.02998750520616409
Recommended Class : 1

Test Case :  [0, 1, 0, 1]
Success : 0.031236984589754272 Fail : 0.022490628904623073
Recommended Class : 1